body{
  margin: auto;
  width: 80%;
}

header, form, #map, #search{
  font-family: sans-serif;
  padding: 10px;
  margin: 10px;
}

#map {
  height: 500px;
  width: 100%;
  background-color: grey;
  border: none;
}

#searchResults{
  height:300px;
  overflow:scroll;
  overflow-x: hidden;
}

#resultDiv{
  background-color: silver;
}

#resultHead{
  font-family: sans-serif;
  color: green;
}
